@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ef4444;
    text-align: center;
    margin: 0;
}

h1 {
    color: #fde68a;
}

input {
    display: block;
    margin-left: 50%;
    margin: 1.5rem auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

label {
    font-size: larger;
    color: #fde68a;
    display: block;
    padding-top: 3rem;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: medium;
    background: transparent;
    color: #fde68a;
    border-color: white;
}

#output {
    color: #fde68a;
    max-width: 60%;
    margin: 2rem auto;
    padding: bottom 0px;
    font-size: larger;
}
#submit-btn:hover {
    background-color: #1e293b;
    /* color: #2f2e41; */
    color: white;
}
.link{
    padding: 0.5rem;
}
.link:hover{
    background-color: #1e293b;
    /* color: #2f2e41; */
    color: white;
    border-radius: 2rem;
}


.footer {
    padding: 1rem 0rem;
    text-align: center;
    color: #ef4444;
    margin-top: 15rem;
}

.footer .link {
    color: white;
    text-decoration: none;

}

.footer .footer-header {
    font-weight: bold;
    font-size: larger;
    color: white;
}

.footer li {
    display: inline;
    padding: 1rem;
    text-align: center;
}

.notice {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    font-size: large;
    display: inline;
    padding: 0.5rem;
    margin: 1rem auto;
}

img {
    width: 200px;
}